
h1{
    color: brown;
}
.box{
    margin: 50px;
    padding: 30px;
    border: 10px solid firebrick;
    height: 300px;
    width: 300px;
    background-color: aquamarine;
}
li::before {
  content: '⚡️ ';
}

