* {
  font-family: "Gill Sans", sans-serif;

}

body{
  background-color:rgb(211, 204, 196);
}
section {
  margin-bottom: 3.5rem;
}
h2 {
  color: #615e5e;
  border-bottom: 4px solid #eee;
  padding-bottom: 0.5rem;
}

li {
  list-style: none;
  margin-bottom: 0.5rem;
}

li::before {
  content: "⚡️ ";
}

a {
  color: #343435;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #f06e00;
}
h1 > span {
  color: #f06e00;
  font-size: 42px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
