
h1{
    color: #2c3e50;
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 5px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
}
.box{
    margin: 50px;
    padding: 30px;
    border: 10px solid rgb(62, 63, 62);
    height: 100px;
    max-width: m;
    background-color: #e0afa0;
    border-radius: 10px;

}
li::before {
  content: '🔗';
}
li {
list-style: none;
padding: 0px;
margin: 0 auto;
}

li a{
color: #2c3e50;
lighting-color: beige;
}

body{
  background-color: rgb(211, 201, 189);
}

.styled-list li{
  background-color: rgb(190, 164, 164);
  margin: 70px 0;
  margin-left: 15px;
  margin-right: 1000px;
  margin-bottom: 100px;
  padding: 15px 10px;
  border-left: 20px solid #e0afa0;
  border-radius: 20px;
  box-shadow: 5px 5px 20px gray;
  font-size: 45px;
  transition: 0.3s;
}




